<!DOCTYPE html>
<html lang="en">

<head>
    <title>Certificate Details</title>
    <style>

    </style>
</head>

<body>
    <div class="container">
    <h2>{{ cert_data['subject_common_name']}}
        <button id="root-ca" data-ca="qubip-root-ca">Download Root CA certificate</button>
    </h2>
    <table>
        <tr>
            <td class="section" colspan="2">Subject Name</td>
        </tr>
        <tr>
            <td>Common Name</td>
            <td>{{ cert_data['subject_common_name'] }}</td>
        </tr>
        <tr>

        <tr>
            <td class="section" colspan="2">Issuer Name</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>{{ cert_data['issuer_country'] }}
            </td>
            <tr>
                <td>
                    Common Name
                </td>
                <td>
                    <a id="view-ca" href="#" data-ca="{{ ca }}">
                        {{ cert_data['issuer_common_name'] }}
                    </a>

                    <!-- <button id="viewCACert" data-ca="{{ ca }}">View CA certificate</button>
                    <button id="download-ca-cert-btn" data-ca="{{ ca }}">Download CA certificate</button> -->
                </td>
            </tr>
            <td class="section" colspan="2">Validity</td>
        </tr>
        <tr>
            <td>Not Before</td>
            <td>{{ cert_data['not_before'] }}</td>
        </tr>
        <tr>
            <td>Not After</td>
            <td>{{ cert_data['not_after'] }}</td>
        </tr>

        <tr>
            <td class="section" colspan="2">Subject</td>
        </tr>
        <tr>
            <td>Subject Alt Names</td>
            <td>{{ cert_data['san'] }}</td>
        </tr>

        <tr>
            <td class="section" colspan="2">Public Key Info</td>
        </tr>
        <tr>
            <td>Algorithm</td>
            <td>{{ cert_data['subject_algorithm'] }}</td>
        </tr>
        <tr>
            <!-- <td>Public-Key</td>
            <td>(To be defined)</td>
        </tr> -->

        <tr>
            <td class="section" colspan="2">Miscellaneous</td>
        </tr>
        <tr>
            <td>Serial Number</td>
            <td>{{ cert_data['serial_number'] }}</td>
        </tr>
        <tr>
            <td>Signature Algorithm</td>
            <td>{{ cert_data['signature_algorithm'] }}</td>
        </tr>
        <tr>
            <td>Version</td>
            <td>{{ cert_data['version'] }}</td>
        </tr>
        <tr>
            <td>Download</td>
            <td>
                <a id="download-cert-link" href="#" data-cert-id="{{ cert_data['cert_id'] }}" data-ca="{{ ca }}">
                    PEM(cert)
                </a>
                <a id="download-chain-link" href="#" data-cert-id="{{ cert_data['cert_id'] }}" data-ca="{{ ca }}">
                    PEM(chain)
                </a>
            </td>
        </tr>
        <tr>
            <td class="section" colspan="2">Basic Constraints</td>
        </tr>
        <tr>
            <td>Certificate Authority</td>
            <td>{{ cert_data['basic_constraints'] }}</td>
        </tr>
        <tr>
            <td class="section" colspan="2">Key Usages</td>
        </tr>
        <tr>
            <td>Purposes</td>
            <td>{{ cert_data['key_usage'] }}</td>
        </tr>
        <tr>
            <td class="section" colspan="2">Extended Key Usages</td>
        </tr>
        <tr>
            <td>Purposes</td>
            <td>{{ cert_data['extended_key_usage'] }}</td>
        </tr>

        <tr>
            <td class="section" colspan="2">Subject Key ID</td>
        </tr>
        <tr>
            <td>Key ID</td>
            <td>{{ cert_data['subject_key_id'] }}</td>
        </tr>
        <tr>
            <td class="section" colspan="2">Authority Key ID</td>
        </tr>
        <tr>
            <td>Key ID</td>
            <td>{{ cert_data['authority_key_id'] }}</td>
        </tr>
        <tr>
            <td class="section" colspan="2">CRL Endpoints</td>
        </tr>
        <tr>
            <td>Distribution Point</td>
            <td>
                <a id="crlDistrPoint" href="#" data-ca="{{ ca }}" data-crl="{{ ca_crl }}">
                    {{ cert_data['crl_distribution_points'] }}
                </a>
                <!-- <button id="downloadCrlBtn" data-ca="{{ ca }}" data-crl="{{ ca_crl }}">Download CRL</button> -->
            </td>
        </tr>
        <tr>
            <td class="section" colspan="2">Authority Info (AIA)</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>
                <a id="aiaLink" href="#" data-ca="{{ ca }}" data-aia="{{ cert_data['aia'] }}">
                    {{ cert_data['aia'] }}
                </a>
            </td>
        </tr>
        <!-- <tr>
            <td class="section" colspan="2">Certificate Policies</td>
        </tr>
        <tr>
            <td>Policy</td>
            <td>{{ cert_data['certificate_policies'] }}</td>
        </tr>
        <tr>
            <td>Value</td>
            <td>{{ cert_data['certificate_policies'] }}</td>
        </tr> -->
    </table>

    <br>
    <a href="/">Back to Home</a>

    <script src="/static/certificate_details.js"></script>
    <script src="/static/script.js"></script>
</div>

</body>

</html>
