<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Certificate</title>
    <link rel="stylesheet" href="/static/css/certificate_generation_style.css">
</head>

<body>

    <div class="container">
        <h2>Generate {{ purpose }} certificate</h2>
        <form id="certForm" method="POST"
            action="{{ url_for('generate_certificate', purpose=request.args.get('purpose', purpose)) }}"
            data-purpose="{{ request.args.get('purpose', purpose) }}">
            <!-- Key Algorithm Dropdown -->
            <label for="key_algorithm">Key Algorithm</label>
            <select id="key_algorithm" name="key_algorithm">
                <option value="rsa2048">RSA2048</option>
                <option value="rsa4096">RSA4096</option>
                <option value="ed25519">ED25519</option>
                <option value="mldsa44">MLDSA44</option>
                <option value="mldsa65">MLDSA65</option>
                <option value="mldsa87">MLDSA87</option>
                <option value="mldsa44_ed25519">MLDSA44-ED25519</option>
                <option value="mldsa65_ed25519">MLDSA65-ED25519</option>
            </select>
            <!-- Subject Information (Hidden for Code Signing) -->
            {% if purpose != "code-signing" %}
            <label for="commonName">Common Name</label>
            {% if purpose == "tls-client" %}
            <p>The Common Name (CN) serves as the primary identifier for the certificate holder. In these client certificates it contains either the IP address or the hostname as a FQDN.</p>
            <div class="cn-container">
                <!-- FQDN -->
                <div class="cn-option">
                    <label for="clientFqdnCheckbox">FQDN</label>
                    <input type="checkbox" id="clientFqdnCheckbox" name="cn_type" value="fqdn">
                    <input type="text" id="clientFqdnInput" name="fqdn" placeholder="Enter FQDN or hostname (e.g., localhost)"
                        style="display: none;">
                    <span class="error-message" id="clientFqdnError"></span>

                </div>
                <!-- IP Address Checkbox & Input -->
                <div class="cn-option">
                    <label for="clientIpCheckbox">IP Address</label>
                    <input type="checkbox" id="clientIpCheckbox" name="cn_type" value="ip">
                    <input type="text" id="clientIpInput" name="ip" placeholder="Enter IP Address (e.g., 192.168.1.1)"
                        style="display: none;">
                    <span class="error-message" id="clientIpError"></span>

                </div>
            </div>
            {% endif %}
            {% if purpose == "tls-server" %}
            <p>The Common Name (CN) serves as the primary identifier for the certificate holder. In server certificates, it can be either a Fully Qualified Domain Name (FQDN) or an IP address. Choose if you want to use a FQDN <strong>or</strong> an IP address as
                DN for your certificate</p>
            <div class="cn-container">
                <!-- FQDN -->
                <div class="cn-option">
                    <label for="fqdnCheckbox">FQDN</label>
                    <input type="checkbox" id="fqdnCheckbox" name="cn_type" value="fqdn">
                    <input type="text" id="fqdnInput" name="fqdn" placeholder="Enter FQDN (e.g., example.com)"
                        style="display: none;">
                    <span class="error-message" id="fqdnError"></span>

                </div>
                <!-- IP Address Checkbox & Input -->
                <div class="cn-option">
                    <label for="ipCheckbox">IP Address</label>
                    <input type="checkbox" id="ipCheckbox" name="cn_type" value="ip">
                    <input type="text" id="ipInput" name="ip" placeholder="Enter IP Address (e.g., 192.168.1.1)"
                        style="display: none;">
                    <span class="error-message" id="ipError"></span>

                </div>
            </div>
            {% endif %}
            {% endif %}
            <button id="submitButton" type="submit">Generate Private Key and Certificate</button>
        </form>

        <div id="certificate-actions" style="display: none;">
            <a href="#" class="button" id="download-cert-btn">Download Key,  Certificate and chain</a>
            <!-- <a href="#" class="button" id="view-cert-btn" data-ca="{{ ca }}" data-cert="{{ certificate }}" data-cert-filename="{{ filename }}">View Certificate</a> -->
        </div>

        <div id="certificate-content">
            <pre id="certText"></pre>
        </div>
    </div>

    <script src="/static/js-scripts/certificate_generation.js"></script>
</body>

</html>