<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PKI Certificate Manager</title>
    <link rel="stylesheet" href="/static/css/home_style.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to QUBIP PKI!</h1>
        <p>
            This interface allows you to receive x509 post-quantum certificates issued by the QUBIP PKI.
            You can view the CA certificates and CRLs of the PKI, and authorized users can generate new certificates.
        </p>

        <section class="section">
            <h2 class="section-title">Restricted Certificate Issuance</h2>
            <p class="section-subtitle">
                Certificate generation is restricted to authorized users only.
            </p>
            <div class="button-container">
                <a href="{{ url_for('issue_dashboard') }}" class="button purpose">Generate certificate</a>
            </div>
        </section>

        <h2>PKI Chains</h2>
        <p>Here you can retrieve the information about the Certificate Authorities and Certificate Revocation Lists</p>

        <div class="pki-pyramid">
            <div class="pyramid-top">
                <div class="ca-section root-ca">
                    <h2>Root CA</h2>
                    <p>
                        The Root CA is the root of trust for PKI. It is used to sign the intermediate CAs and is not
                        intended to be used for end-entity certificates.
                    </p>
                    <hr>
                    <strong>Download</strong>
                    <hr>
                    <div class="button-container">
                        <a href="#" class="button cert-button download-ca-cert-btn" cert-name="qubip-root-ca-fb81895b">Download certificate</a>
                        <a href="#" class="button crl-button download-crl-btn" crl-name="qubip-root-ca-fb81895b">Download CRL</a>
                    </div>
                    <hr>
                    <strong>View</strong>
                    <hr>
                    <div class="button-container">
                        <a href="#" class="button cert-button view-ca-cert-btn" cert-name="qubip-root-ca-fb81895b">View certificate</a>
                        <a class="button crl-button" href="{{ url_for('view_ca_crl', ca='qubip-root-ca-fb81895b') }}">View CRL</a>
                    </div>
                </div>
            </div>

            <div class="pyramid-connectors">
                <div class="connector-line left-line"></div>
                <div class="connector-line right-line"></div>
            </div>

            <div class="pyramid-bottom">
                <div class="ca-section intermediate-ca">
                    <h2>Server intermediate CA</h2>
                    <p>The QUBIP Server CA is used to sign end-entity certificates for servers.</p>
                    <hr>
                    <strong>Download</strong>
                    <hr>
                    <div class="button-container">
                        <a href="#" class="button cert-button download-ca-cert-btn" cert-name="qubip-ca-server-fb81895b">Download certificate</a>
                        <a href="#" class="button crl-button download-crl-btn" crl-name="qubip-ca-server-fb81895b">Download CRL</a>
                    </div>
                    <hr>
                    <strong>View</strong>
                    <hr>
                    <div class="button-container">
                        <a href="#" class="button cert-button view-ca-cert-btn" cert-name="qubip-ca-server-fb81895b">View certificate</a>
                        <a class="button crl-button" href="{{ url_for('view_ca_crl', ca='qubip-ca-server-fb81895b') }}">View CRL</a>
                    </div>
                </div>
                <div class="ca-section intermediate-ca">
                    <h2>Client intermediate CA</h2>
                    <p>The QUBIP Client CA is used to sign end-entity certificates for clients.</p>
                    <hr>
                    <strong>Download</strong>
                    <hr>
                    <div class="button-container">
                        <a href="#" class="button cert-button download-ca-cert-btn" cert-name="qubip-ca-client-fb81895b">Download certificate</a>
                        <a href="#" class="button crl-button download-crl-btn" crl-name="qubip-ca-client-fb81895b">Download CRL</a>
                    </div>
                    <hr>
                    <strong>View</strong>
                    <hr>
                    <div class="button-container">
                        <a href="#" class="button cert-button view-ca-cert-btn" cert-name="qubip-ca-client-fb81895b">View certificate</a>
                        <a class="button crl-button" href="{{ url_for('view_ca_crl', ca='qubip-ca-client-fb81895b') }}">View CRL</a>
                    </div>
                </div>
                <div class="ca-section intermediate-ca">
                    <h2>MCU Server intermediate CA</h2>
                    <p>Same as the QUBIP Server CA, but tailored for MCU applications.</p>
                    <hr>
                    <strong>Download</strong>
                    <hr>
                    <div class="button-container">
                        <a href="#" class="button cert-button download-ca-cert-btn" cert-name="qubip-ca-server-mcu-fb81895b">Download certificate</a>
                        <a href="#" class="button crl-button download-crl-btn" crl-name="qubip-ca-server-mcu-fb81895b">Download CRL</a>
                    </div>
                    <hr>
                    <strong>View</strong>
                    <hr>
                    <div class="button-container">
                        <a href="#" class="button cert-button view-ca-cert-btn" cert-name="qubip-ca-server-mcu-fb81895b">View certificate</a>
                        <a class="button crl-button" href="{{ url_for('view_ca_crl', ca='qubip-ca-server-mcu-fb81895b') }}">View CRL</a>
                    </div>
                </div>

                
                <div class="ca-section intermediate-ca">
                    <h2>MCU Client intermediate CA</h2>
                    <p>Same as the QUBIP Client CA, but tailored for MCU applications.</p>
                    <hr>
                    <strong>Download</strong>
                    <hr>
                    <div class="button-container">
                        <a href="#" class="button cert-button download-ca-cert-btn" cert-name="qubip-ca-client-mcu-fb81895b">Download certificate</a>
                        <a href="#" class="button crl-button download-crl-btn" crl-name="qubip-ca-client-mcu-fb81895b">Download CRL</a>
                    </div>
                    <hr>
                    <strong>View</strong>
                    <hr>
                    <div class="button-container">
                        <a href="#" class="button cert-button view-ca-cert-btn" cert-name="qubip-ca-client-mcu-fb81895b">View certificate</a>
                        <a class="button crl-button" href="{{ url_for('view_ca_crl', ca='qubip-ca-client-mcu-fb81895b') }}">View CRL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js-scripts/script-6.js"></script>
</body>

</html>