<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PKI Certificate Manager</title>
    <link rel="stylesheet" href="/static/css/home_style.css">
</head>

<body>


    <div class="container">
        <h1>Welcome to the QUBIP PKI!</h1>
        <p>This interface allows you to receive x509 post-quantum certificates issued by the QUBIP PKI. You can generate
            a post-quantum certificate and view the CA certificates and CRLs of the PKI.</p>
        <h2>Generate Private Key and certificate</h2>
        <p>Please select the purpose of the certificate you want</p>
        <div class="button-container">
            <a href="{{ url_for('generate_certificate', purpose='server') }}" class="button purpose">Server</a>
            <a href="{{ url_for('generate_certificate', purpose='client') }}" class="button purpose">Client</a>
        </div>
        <h2>PKI Chains</h2>
        <p>Here you can retrieve the information about the different chains with Certificate Authorities and Certificate
            Revocation Lists</p>
        <div class="chains-container">
            <div class="chain-wrapper">


                <div class="chain-section">
                    <h2 class="chain-h2"> QUBIP MPU chain</h2>
                    <p>The QUBIP MPU chain is used to sign end-entity certificates for the MPU device, using
                        MLDSA65/ED25519
                        composite algorithm. It is used to secure the communication between the MPU and the MCU.</p>
                </div>

                <div class="ca-section">
                    <h2>Root CA</h2>
                    <p>The Root CA is the root of trust for PKI. It is used to sign the intermediate CAs and is not
                        intended
                        to be used for end-entity certificates.</p>
                    <hr>
                    </hr>
                    <strong>Download</strong>
                    <hr>
                    </hr>
                    <div class="button-container">

                        <a href="#" class="button cert-button download-ca-cert-btn" chain-name="pki-65"
                            cert-name="qubip-root-ca">Download certificate</a>
                        <a href="#" class="button crl-button download-crl-btn" chain-name="pki-65"
                            crl-name="qubip-root-ca">Download CRL</a>
                    </div>
                    <hr>
                    </hr>
                    <strong>View</strong>
                    <hr>
                    </hr>
                    <div class="button-container">
                        <a href="#" class="button cert-button view-ca-cert-btn" chain-name="pki-65"
                            cert-name="qubip-root-ca">View certificate</a>
                        <a href="#" class="button crl-button view-crl-btn" chain-name="pki-65"
                            crl-name="qubip-root-ca">View
                            CRL</a>

                    </div>
                </div>
                <div class="ca-section">
                    <h2>MPU intermediate CA</h2>
                    <p>The QUBIP MPU CA is used to sign end-entity certificates for the MPU device.</p>
                    <hr>
                    </hr>
                    <strong>Download</strong>
                    <hr>
                    </hr>
                    <div class="button-container">

                        <a href="#" class="button cert-button download-ca-cert-btn" chain-name="pki-65"
                            cert-name="qubip-mpu-ca">Download certificate</a>
                        <a href="#" class="button crl-button download-crl-btn" chain-name="pki-65"
                            crl-name="qubip-mpu-ca">Download CRL</a>
                    </div>
                    <hr>
                    </hr>
                    <strong>View</strong>
                    <hr>
                    </hr>
                    <div class="button-container">
                        <a href="#" class="button cert-button view-ca-cert-btn" chain-name="pki-65"
                            cert-name="qubip-mpu-ca">View certificate</a>
                        <a href="#" class="button crl-button view-crl-btn" chain-name="pki-65"
                            crl-name="qubip-mpu-ca">View
                            CRL</a>

                    </div>
                </div>
            </div>
            <div class="chain-wrapper">
                <div class="chain-section">
                    <h2 class="chain-h2"> QUBIP MCU chain</h2>
                    <p>The QUBIP MCU chain is used to sign end-entity certificates for the MCU device, using
                        MLDSA44/ED25519
                        composite algorithm. It is used to secure the communication between the MPU and the MCU.</p>
                </div>

                <div class="ca-section">
                    <h2>Root CA</h2>
                    <p>The Root CA is the root of trust for PKI. It is used to sign the intermediate CAs and is not
                        intended
                        to
                        be used for end-entity certificates.</p>
                    <hr>
                    </hr>
                    <strong>Download</strong>
                    <hr>
                    </hr>
                    <div class="button-container">

                        <a href="#" class="button cert-button download-ca-cert-btn" chain-name="pki-44"
                            cert-name="qubip-root-ca">Download certificate</a>
                        <a href="#" class="button crl-button download-crl-btn" chain-name="pki-44"
                            crl-name="qubip-root-ca">Download CRL</a>
                    </div>
                    <hr>
                    </hr>
                    <strong>View</strong>
                    <hr>
                    </hr>
                    <div class="button-container">
                        <a href="#" class="button cert-button view-ca-cert-btn" chain-name="pki-44"
                            cert-name="qubip-root-ca">View certificate</a>
                        <a href="#" class="button crl-button view-crl-btn" chain-name="pki-44"
                            crl-name="qubip-root-ca">View
                            CRL</a>

                    </div>
                </div>
                <div class="ca-section">
                    <h2>MCU intermediate CA</h2>
                    <p>The QUBIP MCU CA is used to sign end-entity certificates for the MCU device.</p>
                    <hr>
                    </hr>
                    <strong>Download</strong>
                    <hr>
                    </hr>
                    <div class="button-container">

                        <a href="#" class="button cert-button download-ca-cert-btn" chain-name="pki-44"
                            cert-name="qubip-mcu-ca">Download certificate</a>
                        <a href="#" class="button crl-button download-crl-btn" chain-name="pki-44"
                            crl-name="qubip-mcu-ca">Download CRL</a>
                    </div>
                    <hr>
                    </hr>
                    <strong>View</strong>
                    <hr>
                    </hr>
                    <div class="button-container">
                        <a href="#" class="button cert-button view-ca-cert-btn" chain-name="pki-44"
                            cert-name="qubip-mcu-ca">View certificate</a>
                        <a href="#" class="button crl-button view-crl-btn" chain-name="pki-44"
                            crl-name="qubip-mcu-ca">View
                            CRL</a>

                    </div>
                </div>
            </div>
            <div class="chain-wrapper">

                <div class="chain-section">
                    <h2 class="chain-h2"> QUBIP TLS chain</h2>
                    <p>The QUBIP TLS chain is used to sign end-entity certificates for TLS endpoints</p>
                </div>

                <div class="ca-section">
                    <h2>Root CA</h2>
                    <p>The Root CA is the root of trust for PKI. It is used to sign the intermediate CAs and is not
                        intended
                        to be used for end-entity certificates.</p>
                    <hr>
                    </hr>
                    <strong>Download</strong>
                    <hr>
                    </hr>
                    <div class="button-container">

                        <a href="#" class="button cert-button download-ca-cert-btn" chain-name="certs"
                            cert-name="qubip-root-ca">Download certificate</a>
                        <a href="#" class="button crl-button download-crl-btn" chain-name="certs"
                            crl-name="qubip-root-ca">Download CRL</a>
                    </div>
                    <hr>
                    </hr>
                    <strong>View</strong>
                    <hr>
                    </hr>
                    <div class="button-container">
                        <a href="#" class="button cert-button view-ca-cert-btn" chain-name="certs"
                            cert-name="qubip-root-ca">View certificate</a>
                        <a href="#" class="button crl-button view-crl-btn" chain-name="certs"
                            crl-name="qubip-root-ca">View
                            CRL</a>

                    </div>
                </div>
                <div class="ca-section">
                    <h2>TLS intermediate CA</h2>
                    <p>The QUBIP TLS CA is used to sign end-entity certificates for TLS clients and servers.</p>
                    <hr>
                    </hr>
                    <strong>Download</strong>
                    <hr>
                    </hr>
                    <div class="button-container">

                        <a href="#" class="button cert-button download-ca-cert-btn" chain-name="certs"
                            cert-name="qubip-tls-ca">Download certificate</a>
                        <a href="#" class="button crl-button download-crl-btn" chain-name="certs"
                            crl-name="qubip-tls-ca">Download CRL</a>
                    </div>
                    <hr>
                    </hr>
                    <strong>View</strong>
                    <hr>
                    </hr>
                    <div class="button-container">
                        <a href="#" class="button cert-button view-ca-cert-btn" chain-name="certs"
                            cert-name="qubip-tls-ca">View certificate</a>
                        <a href="#" class="button crl-button view-crl-btn" chain-name="certs"
                            crl-name="qubip-tls-ca">View
                            CRL</a>

                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    <script src="/static/js-scripts/script-2.js"></script>
</body>

</html>