<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRL Details</title>
    <link rel="stylesheet" href="/static/css/view_crl_style.css">
</head>

<body>
    <div class="container">
        <a href="/" class="back-link">Back to Home</a>
        <h1>CRL Details</h1>
    <h2>{{ ca }}
    </h2>
    <pre>{{ crl_data }}</pre>

    <br>

    <!-- <script src="/static/certificate_details.js"></script> -->
    <script src="/static/js-scripts/script.js"></script>
</div>

</body>

</html>
