<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Details</title>
    <link rel="stylesheet" href="/static/css/view_ca_style.css">
</head>

<body>
    <div class="container">
        <a href="/" class="back-link">Back to Home</a>
        <h1>CA Certificate Details</h1>
        <h2>{{ ca }}</h2>
        <pre>{{ cert_data }}</pre>
    </div>

    <!-- Optional: Add JavaScript if needed -->
    <script src="/static/js-scripts/script-2.js"></script>
</body>

</html>